<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form name="pagetwo" th:action="@{/pagetwo}" method="post" th:object="${pageTwoBean}">
        <div>
            <p>Hello, <span th:text="*{firstName}">First Name</span>:</p>
        </div>
        <div>
            <label th:for="lastName">What is your last name?</label>
            <input type="text" required th:field="*{lastName}" />
        </div>
        <div>
            <label th:for="email">What is your email?</label>
            <input type="email" required th:field="*{email}" />
        </div>
        <div>
            <input type="submit" th:value="Submit" />
        </div>
        <input type="hidden" th:field="*{firstName}" />
    </form>
</div>
</body>
</html>